@use "../variables/variables";
@use "../mixins/private/dialog-mixins";
@use "../mixins/private/token-mixins";
@use "../mixins/private/state-layer";

.toast-dialog {
    background-color: var(--color-background-accent);
    border-top-left-radius: var(--border-radius-100);
    border-top-right-radius: var(--border-radius-100);
    box-shadow: 0 0 3px rgb(0 0 0 / 0.28);
    color: var(--color-foreground-on-success);
    inset: auto 0 0;
    max-height: 40vh;
    min-width: 320px;
    position: fixed;
    /* Setting translateY to 0 to fix a bug in safari which does a double transform */
    transform: translateY(0);
    width: 100vw;
    will-change: opacity, transform;
    z-index: 2;
}

.toast-dialog a {
    color: var(--color-foreground-on-success);
}

.toast-dialog a:focus {
    outline: 1px auto currentColor;
}

.toast-dialog--transition {
    transition:
        opacity 0.2s cubic-bezier(0.21, 0.31, 1, 1.22) 0s,
        transform 0.2s cubic-bezier(0.21, 0.31, 1, 1.22) 0s;
}

.toast-dialog--show,
.toast-dialog--hide-init {
    display: block;
    opacity: 1;
    transform: translateY(0);
}

.toast-dialog--show-init,
.toast-dialog--hide {
    display: block;
    opacity: 0;
    transform: translateY(110%);
}

.toast-dialog__window {
    padding: var(--spacing-100) var(--spacing-200) var(--spacing-200);
}

.toast-dialog__header {
    align-items: center;
    display: flex;
}

/* todo: can remove h2 selector after API change in ebayui */
.toast-dialog__header h2,
.toast-dialog__title {
    margin: 0;
}

/* inherits from .icon-btn */
button.icon-btn.toast-dialog__close {
    align-self: flex-start;
    border: 0;
    color: var(--color-foreground-on-success);
    flex-shrink: 0;
    margin-inline-start: auto;
    padding: 0;
    @include state-layer.standard;

    &:focus {
        outline: 2px solid var(--color-foreground-on-success);
    }
}

button.icon-btn.toast-dialog__close > svg {
    fill: currentColor;
}

.toast-dialog__footer {
    display: flex;
    justify-content: flex-end;

    button::first-letter {
        text-decoration: underline;
    }

    button.btn--primary,
    button.btn--secondary {
        @include state-layer.standard;

        border-color: var(--color-foreground-on-accent);
        border-style: solid;
        border-width: 1px;
        outline-offset: 2px;
    }

    button.btn--primary {
        background-color: var(--color-background-primary);
        color: var(--color-foreground-accent);
    }

    button.btn--secondary {
        background-color: transparent;
        color: var(--color-background-primary);
        font-weight: 700;
        margin-inline-end: var(--spacing-100);
    }

    button.btn--primary:focus,
    button.btn--secondary:focus {
        outline: 2px solid var(--color-foreground-on-success);
    }
}

@media (min-width: variables.$screen-size-SM) {
    .toast-dialog {
        border-radius: var(--border-radius-100);
        bottom: var(--spacing-200);
        left: var(--spacing-200);
        max-width: 480px;
        width: auto;
    }

    .toast-dialog__window {
        padding: var(--spacing-200) var(--spacing-300) var(--spacing-300);
    }
}
